@model LoginModel
@using Nop.Core
@using Nop.Core.Domain.Customers

@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.GetCurrentRequestProtocol());
}
<div class="page login-page">
    <div class="page-body">
        <div class="customer-blocks">
                <div class="new-wrapper register-block">
                </div>
            <div class="returning-wrapper fieldset" style="height: 89vh; display:table;">
                <form asp-route="Login" asp-route-returnurl="@Url.Content("~/Admin")" method="post" autocomplete="off" style="display: table-cell; text-align: center; vertical-align: middle;border:none;">
                    <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                    <div class="form-fields" style="border:none;">
                        <h1>@T("Account.Login.SAC3")</h1>
                        <br/>
                        <h2>@T("Account.Login.Title")</h2>
                        <br/><br/>
                        @if (Model.UsernamesEnabled)
                        {
                            <div class="inputs">
                                <input asp-for="Username" class="username center-input" autofocus="autofocus" placeholder="Usuario" style="text-align:center !important;"/>
                                <span asp-validation-for="Username"></span>
                            </div>
                        }
                        else
                        {
                            <div class="inputs">
                                <input asp-for="Email" class="email center-input" autofocus="autofocus" placeholder="Usuario" style="text-align:center !important;"/>
                                <span asp-validation-for="Email"></span>
                            </div>
                        }
                        <div class="inputs">
                            <input asp-for="Password" class="password center-input" placeholder="Contraseña" style="text-align:center !important;"/>
                            <span asp-validation-for="Password"></span>
                        </div>
                        
                    </div>
                    <div class="buttons">
                         <button type="submit" class="button-1 login-button btn-ingresar">@T("Account.Login.LoginButton")</button>                        
                    </div>
                    <div>
                        <a class="btn-link" href="/PasswordRecovery"><b>@T("account.login.forgotpassword")</b></a>
                    </div>

                    <div class="text-center">
                        <img src="@Url.Content("~/images/logos-sat-login.png")" style="width:100% !important" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>