@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-login-page");
}
<div class="page login-page">
    <div class="page-title">
       
    </div>
    <div class="page-body">
        <div class="customer-blocks">
                <div class="new-wrapper register-block">
                     <h1>@T("Account.PasswordRecovery")</h1>
                </div>
            <div class="returning-wrapper fieldset" style="height: 89vh; display:table;">

                <form asp-route="PasswordRecovery" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    
                    <div class="fieldset">
                        
                            <h3 class="">@T("Account.PasswordRecovery.Tooltip")</h3><br />
                            <div class="inputs">
                                <input asp-for="Email" class="email center-input" placeholder="Ingrese su correo electrónico" />
                              
                                <span asp-validation-for="Email"></span>
                            </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <nop-captcha />
                        }
                    </div>
                    <div class="buttons">
                         <a href="/"  name="send-email" class="button-1 login-button btn-cancel">@T("admin.common.cancel")</a>
                        <button type="submit" name="send-email" class="button-1 login-button btn-ingresar">@T("Account.PasswordRecovery.RecoverButton")</button>
                    </div>
            
                    <div class="text-center">
                        <img src="@Url.Content("~/images/logos-sat-login.png")" style="width:100% !important" alt="Sat Login"/>
                    </div>
                </form>   
            </div>
        </div>
             
    </div>
</div>