@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-login-page");
}
<div class="page login-page">
    <div class="page-title">
       
    </div>
    <div class="page-body">
         @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
            <br/>
            <br/>
            <div class="buttons">
                <a href="@Model.ReturnUrl" class="button-1">@T("Common.Continue")</a>
            </div>
        }
        <div class="customer-blocks">
                <div class="new-wrapper register-block">
                     <h1>@T("Account.PasswordRecovery")</h1>
                </div>
            <div class="returning-wrapper fieldset" style="height: 89vh; display:table;">

        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            <input class="password center-input"  asp-for="NewPassword" placeholder="Nueva contraseña" />
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="inputs">
                            <input class="password center-input"  asp-for="ConfirmNewPassword" placeholder="Confirmar contraseña" />
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" name="set-password" class="button-1 login-button btn-ingresar">@T("Account.PasswordRecovery.ChangePasswordButton")</button>
                </div>
                <div class="text-center">
                    <img src="@Url.Content("~/images/logos-sat-login.png")" style="width:100% !important" />
                </div>
            </form>
        }
            </div>
        </div>
             
    </div>
</div>